<a href="https://colab.research.google.com/github/CharKuehl/DermalVOCs/blob/main/AutoML_DermalVOCs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dermal VOC - Bacteria data analysis

In [2]:
bacteria_url = "https://raw.githubusercontent.com/CharKuehl/DermalVOCs/main/FrontiersDS.csv"

In [3]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
import torch
import seaborn as sns
plt.style.use('ggplot')
from matplotlib.pyplot import figure
from matplotlib.colors import ListedColormap

In [4]:
# Load ML Pkgs
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

In [5]:
df_rawbac = pd.read_csv(bacteria_url)

In [30]:
df_rawbac.head()

  The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10  ... Unnamed: 87
3                                            Ethanol                                ...     3962927
4                        Propanoic acid, ethyl ester                                ...           0
5                                        2-Pentanone                                ...     2988409
6                                             Decane                                ...      348154
7                             Methyl Isobutyl Ketone                                ...         NaN

[5 rows x 88 columns]

In [31]:
df_rawbac = df_rawbac.drop(df_rawbac.index[:1]) #drops row 0, because it is NaN

In [32]:
df_rawbac.head()

  The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10  ... Unnamed: 87
4                        Propanoic acid, ethyl ester                                ...           0
5                                        2-Pentanone                                ...     2988409
6                                             Decane                                ...      348154
7                             Methyl Isobutyl Ketone                                ...         NaN
8                                    Amylene hydrate                                ...      694251

[5 rows x 88 columns]

In [27]:
df_rawbac.rename(columns=df_rawbac.iloc[0]).drop(df_rawbac.index[0])

                  Ethyl Acetate                   Ester  ...   548442   339404
3                       Ethanol                 Alcohol  ...  3588158  3962927
4   Propanoic acid, ethyl ester  Fatty acid ethyl ester  ...        0        0
5                   2-Pentanone                  Ketone  ...   637563  2988409
6                        Decane                  Alkane  ...        0   348154
7        Methyl Isobutyl Ketone                  Ketone  ...      NaN      NaN
..                          ...                     ...  ...      ...      ...
69                          NaN                     NaN  ...      NaN      NaN
70                          NaN                     NaN  ...      NaN      NaN
71                          NaN                     NaN  ...      NaN      NaN
72                          NaN                     NaN  ...      NaN      NaN
73                          NaN                     NaN  ...      NaN      NaN

[71 rows x 88 columns]

In [24]:
df_rawbac.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73],
           dtype='int64')

In [25]:
df_rawbac.columns

Index(['The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
       'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70',
       'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74',
       'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78',
       'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82',
       'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86',
       'Unnamed: 87'],
      dtype='object')

In [20]:
df_rawbac = df_rawbac.dropna(subset=['Compounds'])

KeyError: ignored

In [7]:
pipeline_optimizer = TPOTClassifier()

NameError: ignored

In [ ]:
from tpot import TPOTClassifier